/* style for all elements */
*{
    overflow: hidden;
    height: auto;
  }
  /* style body page */
  body {
    background-color: purple;
    color: black;
    
  }
  /* style container page , size page , ...  */
  .container {
    width: 1000px;
    height: 30%;
    background-color: rgb(161, 134, 204);
    margin: 4% auto;
    box-shadow: 0px 19px 0 0 black;
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 1px 7px black;
  }
  /* style image sliders */
  .img {
    height: 200px;
    margin-top: 5%;
    box-shadow: 0 1px 6px black;
  }
  /* style slider */
  .slider {
    position: relative;
    display: flex;
    justify-content: center;
  }
  /* hame slides be tor defult hide mikone */
  .slide {
    display: none;
  }
  /* when ke class active dashte bashe f=ghabele moshahede mishe */
  .slide.active {
    display: block;
  }
  /* style text car */
  .headCar {
    width: 40px;
    background-color: black;
    color: aliceblue;
    border: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin: 0 auto;
    margin-top: 1%;
    padding: 7px;
    font-size: 18px;
    box-shadow: 0 1px 4px black;
  }
  /* style caption text */
  .caption {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: inline-block;
    width: 60%;
    height: 260px;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    box-shadow: 0 1px 18px 3px black;
  }
  /* style text date for caption */
  .textDate{
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: justify;
    font-size: 20px;
  }
  
  /* style image date for caption */
  .imgText img{
    display: flex;
    flex-direction: column;
    padding:9px;
    justify-content: space-around;
    text-align: center;
  }
  .imgText{
    margin-left: 10px;
  }
  
  #imgCar{
    margin-left: -9px;
    margin-top: -5px;
  }
  #imgGas{
    margin-top: -10px;
    margin-bottom: 5px;
  }
  /* style rating car for flex ghara dadan stars */
  .rate{
    width: 60px;
   display: flex;
  
  }
  /* style value text for caption */
  .valueDate{
    margin-top: -9px;
    color: rgb(255, 243, 80);
    text-transform: capitalize;
    text-shadow:  0 2px 3px black;
    margin-left: 10px;
  }
  /* style key */
  .keyDate{
    margin-top: -10px;
    color: aliceblue;
    text-transform: capitalize;
    text-shadow:  0 2px 3px black;
  }
  .keyDate h6{
    font-weight: bolder;
  }
  /* style select color for dot */
  .selectColor {
    font-size: 20px;
    margin-top: 10px;
  
  }
  /* style dots */
  .dots {
    margin-top: -29px;
  }
  
  .dot {
    margin-left: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  /* style button */
  .btnShop {
    width: 88px;
    height: 30px;
    background-color: blueviolet;
    color: aliceblue;
    font-weight: bolder;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
    font-size: 12px;
    margin: 2% auto;
    margin-top: 6px;
    box-shadow: 0 1px 4px black;
  }
  /* tamaaaaaam tamaaaaaam😍👌 */
  
.details{
  background-color: rgb(141, 103, 246);
  width: 300px;
  height: 290px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10px;
  color: aliceblue;
  font-weight: 900;
  font-size: 19px;
  text-shadow: 0 2px black;
}